@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply m-0;
}

button {
  @apply rounded-md border border-transparent px-4 py-2 text-base font-semibold transition-colors;
}

button:hover {
  @apply border-blue-500 bg-blue-500/10;
}

#root,
#root > *,
#root > * > * {
  @apply bg-transparent;
}

*,
::before,
::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    transition: background-color 0.3s, color 0.2s;
  }
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400 dark:text-gray-500;
}

html {
  background-color: theme('colors.gray.50');
  color: theme('colors.gray.800');
}
html.dark {
  background-color: theme('colors.gray.900');
  color: theme('colors.gray.100');
}